.table {
    margin-top: 30px;
}
.submit-button-container {
    display: flex;
    justify-content: center;
}
.submit-button-container button{
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
}
tr.editable input {
    width: 100%;
    box-sizing: border-box;
}

tr.editable td {
    padding: 0;
}
